input {
    kafka {
        bootstrap_servers => "192.168.xx.xx:9092,192.168.xx.xx:9092,192.168.xx.xx:9092,192.168.xx.xx:9092"
        topics => "applog"
        group_id => "logstash-applog-monitor-ly"
        max_partition_fetch_bytes => "5242880"
        consumer_threads => "5"
        codec => "json"
    }
}

filter {
    if ([level] == "ERROR" or [level] == "WARN") and [systemCode] =~ "ng*" {
        ruby {
            code => 'event.set("logdate", Time.at(event.get("logTime")/1000+8*60*60).to_s)'
        }

        date {
            match => ["logdate", "yyyy-MM-dd HH:mm:ss Z"]
            target => "@timestamp"
        }

        mutate {
            add_field => { "mm" => "%{+mm}" }
        }

        ruby {
            code => 'event.set("minute", event.get("mm").to_i/10)'
        }

        mutate {
            remove_field => [ "mm", "logdate", "@version", "host", "path", "tags", "message" ]
        }
    } else {
        ruby {
            code => "event.cancel"
        }
    }
}

output {
    file {
        path => "/data/monitor/ng-monitor.log.%{+YYYYMMddHH}%{minute}0"
    }
}
