input {
   kafka {
     bootstrap_servers => "192.168.26.183:9092,192.168.26.197:9092,192.168.26.199:9092"
     topics => "cmosgis_main_poiinfo"
     group_id => "cmosgis_main_poiinfo"
     max_partition_fetch_bytes=> "5242880"
     consumer_threads => "3"
     codec => "json"
   }
}


filter {
  if[createTime]{
   ruby {
     code => 'event.set("logdate", (Time.parse(event.get("createTime")) + 8 * 60 * 60).to_s)'
   }
  }
  if[logdate]{
   date {
     match => ["logdate", "yyyy-MM-dd HH:mm:ss Z"]
     target => "@timestamp"
   }
   ruby {
     code =>'event.set("timeDistance", (event.get("@timestamp")-::Time.now).abs - 3 * 30 * 24 * 3600)'
   }
   mutate {
     remove_field => [ "logdate", "@version", "host", "path", "tags", "message" ]
   }
  }
}

output {
   file {
      path => "/home/logpl/log-cluster/logstash/run-logs/cmosgis_main_poiinfo.log"
      flush_interval => 0
   }
}

output {
    if[timeDistance] and [timeDistance] < 0 {
        elasticsearch {
            hosts => ["192.168.26.131:9200","192.168.26.223:9200","192.168.26.227:9200"]
            index => "cmosgis_main_poiinfo"
            document_type => "main_poiinfo"
            document_id => "%{poiId}"
            action => "update"
            doc_as_upsert => true
            codec => "json"
            user => "elastic"
            password => "26yftest"
        }
    }else{
        file {
            path => "/home/logpl/log-cluster/logstash/run-logs/cmosgis_main_poiinfo_error.log"
            flush_interval => 0
        }
    }
}

#192.168.26.183:9092,192.168.26.197:9092,192.168.26.199:9092 kafka地址
#cmosgis_main_poiinfo kafka_topic名称
#3 数量
#opTime 时间排序字段
#/home/logpl/log-cluster/logstash logstash路径
#cmosgis_main_poiinfo 索引名
#bizlog 索引类型
#"192.168.26.131:9200","192.168.26.223:9200","192.168.26.227:9200" es地址
