{%- from "supervisor/map.jinja" import supervisor with context -%}
{%- set config = supervisor.supervisord_conf -%}
;;; File managed by Salt
;;; supervisor config file

{% for key, value in config.items() -%}
[{{ key }}]
{% for k, v in value.items() -%}
{{ k }}={{ v }}
{% endfor -%}
{% endfor -%}

